@keyframes ldio-k3fi1pvd9z {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5,1.5);
    } 100% {
          opacity: 0;
          backface-visibility: hidden;
          transform: translateZ(0) scale(1,1);
      }
}
.ldio-k3fi1pvd9z div > div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #222222;
    animation: ldio-k3fi1pvd9z 1s linear infinite;
}.ldio-k3fi1pvd9z div:nth-child(1) > div {
     left: 120px;
     top: 92px;
     animation-delay: -0.875s;
 }
.ldio-k3fi1pvd9z > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 128px 100px;
}.ldio-k3fi1pvd9z div:nth-child(2) > div {
     left: 112px;
     top: 112px;
     animation-delay: -0.75s;
 }
.ldio-k3fi1pvd9z > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 120px 120px;
}.ldio-k3fi1pvd9z div:nth-child(3) > div {
     left: 92px;
     top: 120px;
     animation-delay: -0.625s;
 }
.ldio-k3fi1pvd9z > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 100px 128px;
}.ldio-k3fi1pvd9z div:nth-child(4) > div {
     left: 72px;
     top: 112px;
     animation-delay: -0.5s;
 }
.ldio-k3fi1pvd9z > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 80px 120px;
}.ldio-k3fi1pvd9z div:nth-child(5) > div {
     left: 64px;
     top: 92px;
     animation-delay: -0.375s;
 }
.ldio-k3fi1pvd9z > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 72px 100px;
}.ldio-k3fi1pvd9z div:nth-child(6) > div {
     left: 72px;
     top: 72px;
     animation-delay: -0.25s;
 }
.ldio-k3fi1pvd9z > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 80px 80px;
}.ldio-k3fi1pvd9z div:nth-child(7) > div {
     left: 92px;
     top: 64px;
     animation-delay: -0.125s;
 }
.ldio-k3fi1pvd9z > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 100px 72px;
}.ldio-k3fi1pvd9z div:nth-child(8) > div {
     left: 112px;
     top: 72px;
     animation-delay: 0s;
 }
.ldio-k3fi1pvd9z > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 120px 80px;
}
.loadingio-spinner-spin-6p3co5hgcpw {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    /*display: inline-block;*/
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
}
.ldio-k3fi1pvd9z {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-k3fi1pvd9z div {
    box-sizing: content-box;
    margin: 0 auto;
}
